@page {
  size: letter;
  margin: 0;
}

.print-page {
  width: 11in;
  height: 8.5in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}