@page {
  size: letter landscape;
  margin: 0;
}

html, body {
  max-width: unset;
  overflow-x: unset;
}

.print-page {
  width: 11in;
  height: 8.5in;
}

.print-content {
  width: calc(11in - 30mm);
  height: calc(8.5in - 36mm);
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

[data-device='iphone'].print-page {
  width: 100lvh;
  height: 100lvw;
  position: relative;
}

[data-device='iphone'] .print-content {
  width: 100lvh;
  height: 100lvw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-72%, -11%) rotate(90deg);
  box-sizing: content-box;
}

@media print {
  .print-page {
    height: max-content;
  }
}